@import '../variables.scss';

.card {
  display: block;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: $white;
  text-decoration: none;
  border: 0.06rem solid $dark-gray;
  border-radius: 0.3rem;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
  will-change: background-color, border-color, color;
  list-style: none;
  width: 20rem;

  &[href]:hover, &[href]:focus, &[href]:active {
    color: $blue;
    border-color: $blue;
    background-color: $light-gray;
    p { color: $blue; }
  }
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  ul { padding: 0; width: 100%; }
}
