@import '../variables.scss';

.h1 {
  margin: 0;
  line-height: 6rem;
  font-size: 2.6rem;
  text-align: center;
  font-family: $title-font;
  @media (min-width: $above-mobile) {
    font-size: 4rem;
  }
}
.h2 {
  margin: 0;
  line-height: 4.2rem;
  font-size: 2rem;
  text-align: center;
  font-family: $title-font;
  width: 100%;
  @media (min-width: $above-mobile) {
    font-size: 3rem;
  }
}
