@import './variables.scss';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0; margin: 0;
  border: 0;
  font-size: 100%;
}

/* L. David Baron: https://twitter.com/davidbaron/status/794138427952222210 */
base, basefont, datalist, head, meta, script, style, title, noembed, param, template {
  display: none;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0; margin: 0;
  min-height: 0.1rem;
  background-color: $white;
  color: $dark-gray;
  font-weight: normal; font-style: normal;
}

body * { font-family: $body-font; }

p { margin-bottom: 0.5rem; }

a {
  color: inherit;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

*, ::before, ::after {
  box-sizing: border-box;
  white-space: 0;
  vertical-align: top;
  -webkit-tap-highlight-color: $blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clear: both;
  z-index: 1;
}

body, div, section, nav, header, footer, main, article {
  position: relative;
}

img {
  width: auto; height: auto;
  display: block;
  position: relative;
  border: 0;
  max-width: 100%;
  object-fit: cover;
}

nav li, footer li { list-style: none; }

::selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}

button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 0;
  border: 0.06rem solid $dark-gray;
  cursor: pointer;
  background-color: $light-gray;
  transition: 0.15s background-color ease;
  will-change: background-color;

  &:hover { background-color: $white; }
}

input, textarea {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid $light_gray;
  width: 90%;
  font-size: 1.5rem;
  padding: 0 0 0.3rem;
  margin: 3rem auto;
  display: block;
  font-family: inherit;
  color: $dark_gray;
  min-width: 0; /* inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that */
}
